app-films {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    object-fit: cover;
    background-color: black;
    font-size: 15px;
    font-style: italic white;
    
}
