<nav class="container">
    <div class="logo">
      <img src='./assets/images/LOGO/logo.png' alt="">
    </div>
    <ul class="categorias">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#accion">Acción</a></li>
      <li><a href="#anime">Anime</a></li>
      <li><a href="#comedia">Comedia</a></li>
      <li><a href="#drama">Drama</a></li>
      <li><a href="#sci-fi">Sci-fi</a></li>
      <li><a href="#terror">Terror</a></li>
      <li><a href="#top10">Top 10</a></li>
    </ul>
    <div class="search">
      <input class="search_input"type="text" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </div>
  </nav>